<%= form_for :comment, url: '/comments' do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.label :post_id %><br>
    <%= f.number_field :post_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
