<% content_for :head do %>
  <%= javascript_include_tag "build/by_user", "data-turbolinks-track" => true %>
<% end %>

<div id='posts_wraper'>
<% @posts.each do |post, n| %>
  <div>
    <h2><%= post.user.name %><h2>
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
  </div>
<% end %>
</div>
<button id='button_offset' user_name='<%= @user.name %>' >PageYOffset</button>
